#heading {
    color: blue;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.logo{
    width: 180px;
}
.usericon{
    width: 60px;
}